* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.main-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.result1 {
  height: 100vh;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as per your design */
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Adjust maximum width as needed */
}

.results-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: calc(
    33.33% - 20px
  ); /* Adjust based on desired number of items per row */
  max-width: calc(100% - 20px);
  margin-bottom: 20px; /* Adjust margin as per your design */
  text-align: center;
}

.results-item:hover {
  transform: translateY(-5px);
}

.results-item-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.results-item-info {
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .results-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 739px) {
  .search-bar {
    flex-direction: column;
  }

  .results-item {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

.footer h1 {
  font-size: larger;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  background: #cccbcb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 639px) {
  .footer h1 {
    width: 90%;
    text-align: center;
  }
}

.slider {
  appearance: none;
  border-radius: 9999px;
  cursor: pointer;
  display: block;
  height: 4px;
  background-color: rgb(221, 225, 228);
  color: rgb(228, 45, 66);
  margin: 0px;
  width: 150px;
}

.slider-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  text-align: center;
}

.slider-main h3 {
  font-weight: 500;
  color: var(--secondary);
  font-size: 16px;
}

/* Styling for the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(228, 45, 66);
  cursor: pointer;
}

@media (max-width: 739px) {
  .slider-main {
    flex-direction: column;
  }
}

.contribute {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}

.contribute a {
  text-decoration: none;
  color: var(--secondary);
}
