.slider{
    appearance: none;
    border-radius: 9999px;
    cursor: pointer;
    display: block;
    height: 4px;
    background-color: rgb(221, 225, 228);
    color: rgb(228, 45, 66);
    margin: 0px;
    width: 150px;
}

.slider-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.slider-main h3{
    font-weight: 500;
    color: var(--secondary);
    font-size: 16px;
}

/* Styling for the thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(228, 45, 66);
    cursor: pointer;
}
